/* [project]/app/home/programOffered/style.module.css [app-client] (css) */
.style-module__iCJP-W__programOfferedSection {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.style-module__iCJP-W__blockzindex {
  z-index: 1;
  position: relative;
}

.style-module__iCJP-W__HeadingName {
  font-size: 4vw;
  font-family: Anton, serif;
  color: #000;
  text-align: left;
  margin-top: 0;
  line-height: 4vw;
}

.style-module__iCJP-W__Programmedinnerbox {
  background: #145684;
  border-radius: 23px;
  padding: 1em;
  margin-top: -11%;
}

.style-module__iCJP-W__Programmedinnerbox h2 {
  font-size: 3vw;
  font-family: Anton, serif;
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 4vw;
  text-transform: uppercase;
}

.style-module__iCJP-W__Programmedinnerbox p {
  font-size: 18px;
  color: #fff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Inter, serif !important;
  font-weight: 400 !important;
}

.style-module__iCJP-W__Programmedinnerbox button {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 2%;
  font-family: Inter, serif !important;
  font-weight: 400 !important;
  background-color: "#FCCC00" !important;
  color: "#fff " !important;
}

.style-module__iCJP-W__linksProgram li {
  font-size: 1rem;
  margin-right: 16px;
}

.style-module__iCJP-W__TabName {
  font-size: 20px !important;
  font-family: Anton, serif !important;
  color: #000 !important;
}

.style-module__iCJP-W__marqueeContainer {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
}

.style-module__iCJP-W__marquee {
  display: flex;
  white-space: nowrap;
  animation: 10s linear infinite style-module__iCJP-W__scroll;
}

.style-module__iCJP-W__marquee span {
  font-size: 10rem;
  margin-right: 2rem;
  color: #145684;
}

.style-module__iCJP-W__marquee:after {
  content: attr(data-text);
  display: inline-block;
  white-space: nowrap;
}

@keyframes style-module__iCJP-W__scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.style-module__iCJP-W__ScrollTextBox {
  top: 35%;
  left: 0;
  width: 100%;
  background: #fff;
  position: absolute;
  overflow: hidden;
}

.style-module__iCJP-W__ScrollText {
  width: 100%;
  font-size: 8rem;
  color: #145684;
  white-space: nowrap;
  text-transform: uppercase;
}

.style-module__iCJP-W__marqueeStyle {
  display: inline-block;
  animation: 20s linear infinite style-module__iCJP-W__scrolling-left1;
}

.style-module__iCJP-W__marqueeStyle2 {
  display: inline-block;
  animation: 20s linear infinite style-module__iCJP-W__scrolling-left2;
  animation-delay: 10s;
}

@keyframes style-module__iCJP-W__scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes style-module__iCJP-W__scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@media (width <= 480px) {
  .style-module__iCJP-W__HeadingName {
    font-size: 7vw;
    font-family: Anton, serif;
    color: #000;
    text-align: left;
    margin-top: 0;
    line-height: normal;
  }

  .style-module__iCJP-W__Programmedinnerbox h2 {
    font-size: 4vw;
    font-family: Anton, serif;
    color: #fff;
    text-align: left;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: normal;
    text-transform: uppercase;
  }

  .style-module__iCJP-W__Programmedinnerbox p {
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Inter, serif !important;
    font-weight: 400 !important;
  }

  .style-module__iCJP-W__Programmedinnerbox button {
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 2%;
    font-family: Inter, serif !important;
    font-weight: 400 !important;
    background-color: "#FCCC00" !important;
    color: "#fff " !important;
  }

  .style-module__iCJP-W__ScrollTextBox {
    top: 17%;
    left: 0;
    width: 100%;
    background: #fff;
    position: absolute;
    overflow: hidden;
  }

  .style-module__iCJP-W__ScrollText {
    width: 100%;
    color: #145684;
    text-transform: uppercase;
    white-space: nowrap;
    display: none;
    font-size: 4rem !important;
  }

  .style-module__iCJP-W__TabName {
    font-size: 14px !important;
    font-family: Anton, serif !important;
    color: #000 !important;
  }

  .style-module__iCJP-W__programOfferedSection {
    height: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
  }
}

/*# sourceMappingURL=app_home_programOffered_style_module_b52d8e.css.map*/